<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> <br />
  <%else %>
    <%= link_to 'Sign In', user_session_path %>
    <%= link_to 'Sign Up', new_user_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
