<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if flash[:alert] %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom">
    <%= link_to 'Home', posts_path, class: 'nav-items' %>
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-items' %>
      <span class='nav-items'>
        Welcome: <%= current_user.username %> !
      </span>
    <%else %>
      <%= link_to 'Sign In', user_session_path, class: 'nav-items' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-items' %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
